{% from "components/app/appointment-card.jinja2" import appointmentDetails with context %} 
{% from "components/app/patient-card.jinja2" import patientCard with context %} 
{% from "components/app/form-field.jinja2" import formFieldChips with context %} 
{% extends 'layouts/app-base.jinja2' %} 

{% block title %}Appointments{% endblock %} 
{% block pageContent %}
<div class="w-full h-full px-6 lg:px-10 pt-4 flex flex-col items-start justify-start space-y-2">
  <div class="h-1/3 w-full flex items-center justify-center">
    <h3 class="w-1/3 font-bold">Appointment information:</h3>
    {{appointmentDetails(appointment, branch, doctor)}}
  </div>
  <div class="h-1/3 w-full flex items-center justify-center">
    <h3 class="w-1/3 font-bold">Patient information:</h3>
    {{patientCard(patient, attendsTo, false, doctor)}}
  </div>
  <div class="h-1/3 w-full flex items-center justify-center">
    <h3 class="w-1/3 font-bold">Registered Symptoms:</h3>
    <div class="py-2 w-full h-full flex border border-turqoise rounded-full">
        {{formFieldChips('symptom', registeredSymptoms, 'name', 'deleteSymptom', 'icons/delete.svg', true if myRole != 'patient' and me['user']['id'] == doctor['user']['id'] else false, 'addSymptom', true)}}
    </div>
  </div>
  <div class="h-1/3 w-full flex items-center justify-center">
    <h3 class="w-1/3 font-bold">Registered Clinical Signs:</h3>
    <div class="py-2 w-full h-full flex border border-turqoise rounded-full">
        {{formFieldChips('cs', registeredCs, 'name', 'deleteClinicalSign', 'icons/delete.svg', true if myRole != 'patient' and me['user']['id'] == doctor['user']['id'] else false, 'addClinicalSign', true)}}
    </div>
  </div>
  <div class="h-1/3 w-full flex items-center justify-center">
    <h3 class="w-1/3 font-bold">Diagnosed Diseases:</h3>
    <div class="py-2 w-full h-full flex border border-turqoise rounded-full">
      {{formFieldChips('disease', diagnosedDiseases, 'name', 'deleteDisease', 'icons/delete.svg', true if myRole != 'patient' and me['user']['id'] == doctor['user']['id'] else false, 'addDisease', true)}}
    </div>
  </div>
  <div class="h-full w-full flex items-center justify-center pb-5">
    <h3 class="w-1/3 font-bold">Notes:</h3>
    <div class="w-full h-full flex border border-turqoise">
      <textarea id="notes" {% if myRole == 'patient' or me['user']['id'] != doctor['user']['id'] %}readonly{% endif %} class="rounded-lg resize-none w-full h-full">{{attendsTo['notes']}}</textarea>
    </div>
  </div>
  {% if myRole == 'doctor' and me['user']['id'] == doctor['user']['id'] %}
    <div class="w-full flex items-center justify-center mt-4 pb-4">
        <button class="rounded-3xl bg-turqoise text-white font-bold w-64 h-12" onclick="saveNotes()">
            Save
        </button>
    </div>
  {% endif %}
</div>
<script>
  let symptomsContainer = document.getElementById('container-symptom');
  let csContainer = document.getElementById('container-cs');
  let diseasesContainer = document.getElementById('container-disease');
  
  let ap = {{appointment | tojson | safe}};
  let patient = {{patient | tojson |safe}};
  let attendsTo = {{attendsTo | tojson | safe}}

  const addSymptom = async() => {
    let sy = document.getElementById('new-symptom').value;

    let res = await fetch ('/api/appointment/registersSy',  {
      method: 'POST',
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        'registersSy': [{
          idAp: ap.id,
          idPa: patient.user.id,
          name: sy
        }]
      })
    });
    if (res.status === 200){
      symptomsContainer.innerHTML += generateSymptomChip(sy);
    }
  }

  const deleteSymptom = async(sy) => {
    let res = await fetch ('/api/appointment/registersSy',  {
      method: 'DELETE',
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        'registersSy': [{
          idAp: ap.id,
          idPa: patient.user.id,
          name: sy
        }]
      })
    });

    document.getElementById(sy).remove(); 
  }

  const addClinicalSign = async() => {
    let cs = document.getElementById('new-cs').value;

    let res = await fetch ('/api/appointment/registersCs',  {
      method: 'POST',
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        'registersCs': [{
          idAp: ap.id,
          idPa: patient.user.id,
          name: cs
        }]
      })
    });
    if (res.status === 200){
      csContainer.innerHTML += generateCsChip(cs);
    }
  }

  const deleteClinicalSign = async(cs) => {
    await fetch ('/api/appointment/registersCs',  {
      method: 'DELETE',
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        'registersCs': [{
          idAp: ap.id,
          idPa: patient.user.id,
          name: cs
        }]
      })
    });

    document.getElementById(cs).remove();
  }
  
  const addDisease = async() => {
    let disease = document.getElementById('new-disease').value;

    let res = await fetch ('/api/appointment/diagnoses',  {
      method: 'POST',
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        'diagnoses': [{
          idAp: ap.id,
          idPa: patient.user.id,
          name: disease
        }]
      })
    });
    if (res.status === 200){
      diseasesContainer.innerHTML += generateDiseaseChip(disease);
    }
  }

  const deleteDisease = async(disease) => {
    await fetch ('/api/appointment/diagnoses',  {
      method: 'DELETE',
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        'diagnoses': [{
          idAp: ap.id,
          idPa: patient.user.id,
          name: disease
        }]
      })
    });

    document.getElementById(disease).remove();
  }

  const saveNotes = async() => {
    let notes = document.getElementById('notes').value;

    await fetch ('/api/appointment/attendsTo',  {
      method: 'PUT',
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
          idAp: ap.id,
          idPa: patient.user.id,
          notes: {
            value: attendsTo.notes,
            newValue: notes
          }
        }
      )
    });

    showOkModal();
  }
</script>

{% endblock %}
