{% extends 'layouts/app-base.jinja2' %}
{% block title %}Branches{% endblock %}
{% block pageContent %}
<script>
    const deleteBranchConfirm = (id) => {
        let _wrapper = document.createElement('div');
        _wrapper.id = `wrapper-${id}`;
        _wrapper.innerHTML = generateConfirmationModal(id, 'deleteBranch');
        document.body.appendChild(_wrapper);
    }
    
    const deleteBranch = async(id, mode='confirm') => {
        if (mode === 'confirm'){
            await fetch(`/api/branches/${id}`, {
                method: 'DELETE',
                headers: {
                    Accept: "application/json",
                },
            });

            document.getElementById(id).remove();
        }

        document.getElementById(`modal-${id}`).remove();
    }
</script>
<div class="w-full h-full px-6 lg:px-10 pt-4">
    <div class="{{'h-4/5' if myRole == 'administrative' else 'h-full'}} overflow-y-auto flex">
        {% include 'components/branches.jinja2' %}
    </div>
    {% if myRole == 'administrative' %}
    <div class="w-full flex items-center justify-center mt-4 pb-4">
        <button class="rounded-3xl bg-turqoise text-white font-bold w-64 h-12" onclick="window.location.href ='/app/create-branch'">
            New Branch
        </button>
    </div>
    {% endif %}
</div>
{% endblock %}