{% extends 'layouts/app-base.jinja2' %}
{% from 'components/app/users-table.jinja2' import usersTable with context%}
{% block title %}Users{% endblock %}
{% block pageContent %}
<script>
  const drawTable = (_data) => {
    let rows = Array(_data.length);

    for (let obj of _data) {
      let userId = obj["user"]["id"];

      let cells = [
        nameCell(
          `<a class="hover:text-turqoise" href="/app/profile/${userId}/patient">${obj["user"]["name1"]} ${obj["user"]["surname1"]}</a>`,
          obj["user"]["photoUrl"]
        ),
        generateCell(userId),
        generateCell(obj["user"]["sex"]),
        generateCell(obj["user"]["birthdate"].split("T")[0]),
      ];

      rows.push(generateRow(cells, userId));
    }

    tableContainer.innerHTML = generateTable(
      "users-table",
      ["Name", "ID", "Sex", "Birthdate"],
      rows
    );
  }
</script>
<div class="w-full h-full px-6 lg:px-10">
  {{usersTable(['patient'], 'patient')}}
</div>
<script type="text/javascript">

  tableContainer.innerHTML = generateTable(
    "users-table",
    ["Name", "ID", "Sex", "Birthdate"],
    []
  );

  (async function () {
    await loadUsers(offset, {extraFilters: {
        role: 'patient'
    }});
    await setPagination(
      "user",
      offset,
      limit,
      paginationContainer,
      "loadUsers",
      {extraFilters: {
          role: 'patient'
      }}
    );
  })();
</script>
{% endblock pageContent %}