# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js

# testing
frontend/coverage

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/yarn-debug.log*
frontend/yarn-error.log*

app/venv/
__pycache__

app/config.py

app/test.py

app/meedikal.db

app/images
app/venv

.vscode
.env
.flaskenv

node_modules

app/static/css/node_modules

test.sql