{% extends 'layouts/app-base.html' %} {% from "components/app/profile.html" import profile with context %}

{% block title %}Update User{% endblock %}
{%block pageContent %}
{{profile(user, 'update', 'toggleRole', 'icons/remove.svg', 'updateUser')}}

<script type="text/javascript">
    let user = JSON.parse('{{user|tojson}}');
    let roleColors = JSON.parse('{{roleColors|tojson}}');

    let availableRoles = [
        "patient",
        "administrative",
        "doctor",
    ];

    let rolesContainer = document.getElementById("roles");

    availableRoles.forEach((r) => {
        if (!user['roles'].includes(r) && r !== "medicalPersonnel") {
            rolesContainer.innerHTML += generateRoleChip(r, roleColors[r]);
        }
    });

    let formFields = document.getElementById("user-fields");
    //workaround to mysterious bug that broke every other input value if trying to do formFields.innerHTML += generateSpecialtiesField('');
    let specialtiesContainer = document.createElement("div");
    specialtiesContainer.id = "Specialties";
    specialtiesContainer.classList.add("hidden");

    (async function () {
        if (user.roles.includes('doctor')) {
            let chips = "";

            if (!user.specialties) {
                let res = await fetch(`/api/users/doctor/docHasSpec/${user.user.id}`, {
                    headers: {
                        Accept: "application/json",
                    },
                })
                
                user.specialties = (await res.json()).result.map(sp => sp.title) || [];
            }

            for (let sp of user.specialties) {
                chips += generateSpecialtyChip(sp);
            }

            specialtiesContainer.innerHTML += generateSpecialtiesField(chips);
            specialtiesContainer.classList.remove("hidden");
        } else {
            specialtiesContainer.innerHTML += generateSpecialtiesField("");
        }
    })();

    formFields.appendChild(specialtiesContainer);

    const toggleRole = async (role) => {
        img = document.getElementById(`icon-${role}`);

        if (!user['roles'].includes(role)) { //add
            toggleLoadingModal();

            await fetch(`/api/users/${role}`, {
                method: 'POST',
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    id: user['user'].id
                })
            });

            user['roles'].push(role);
            img.src = '/static/icons/remove.svg';

            toggleLoadingModal();
        } else { //remove
            toggleLoadingModal();

            await fetch(`/api/users/${role}`, {
                method: 'DELETE',
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    id: user['user']['id']
                })
            });
            user['roles'] = user['roles'].filter(r => r !== role);
            img.src = '/static/icons/add.svg';
            toggleLoadingModal();
        }

        if (user['roles'].includes('doctor')) {
            document.getElementById('Specialties').classList.remove('hidden');
        } else {
            document.getElementById('Specialties').classList.add('hidden');
        }

        if (selectedUserRoles.length < 1){
            toggleRole('patient');
        }

    }

    const updateUser = () => {
        toggleLoadingModal();
        fetch(`/api/users/${parseInt(user.user.id)}`, {
            method: "PUT",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                name1: name1Field.value,
                name2: name2Field.value,
                surname1: surname1Field.value,
                surname2: surname2Field.value,
                sex: sexField.value,
                genre: genreField.value,
                birthdate: birthdateField.value,
                email: emailField.value,
                location: locationField.value,
            }),
        }).then((res) => {
            res.json().then((data) => {
                if (res.status == 200) {
                    //TODO: show popup / modal saying OK
                    errorBox.classList.add("hidden");
                    showOkModal();
                } else {
                    if (data.extraMessage) {
                        errorText.textContent = data.extraMessage;
                    } else {
                        errorText.textContent = data.error;
                    }
                    errorBox.classList.remove("hidden");
                }
            });
        });
    };

    const deletePhone = (phone) => {
        toggleLoadingModal();
        fetch("/api/users/phoneNumbers", {
            method: "DELETE",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                userPhone: [
                    {
                        id: user.user.id,
                        phone: phone,
                    },
                ],
            }),
        }).then((res) => {
            res.json().then((data) => {
                if (res.status == 200) {
                    //TODO: show popup / modal saying OK
                    errorBox.classList.add("hidden");
                    document.getElementById(phone).remove();
                } else {
                    errorText.textContent = data.error;
                    errorBox.classList.remove("hidden");
                }
            });
            toggleLoadingModal();
        });
    }

    const addPhone = () => {
        toggleLoadingModal();
        let phone = document.getElementById('new-Phones').value;

        fetch("/api/users/phoneNumbers", {
            method: "POST",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                userPhone: [
                    {
                        id: parseInt(user.user.id),
                        phone: phone,
                    },
                ],
            }),
        }).then((res) => {
            res.json().then((data) => {
                if (res.status == 200) {
                    //TODO: show popup / modal saying OK
                    errorBox.classList.add("hidden");
                    phonesContainer.innerHTML += generatePhoneChip(phone)
                } else {
                    errorText.textContent = data.error;
                    errorBox.classList.remove("hidden");
                }
            });
            toggleLoadingModal();
        });
    }

    const addSpecialty = async () => {
        let specialty = document.getElementById('new-Specialties').value;
        if (!user.specialties) {
            user.specialties = [];
        }

        if (!user.specialties.includes(specialty)) {
            user.specialties.push(specialty);
            document.getElementById('container-Specialties').innerHTML += generateSpecialtyChip(specialty);
        }

        await fetch('/api/users/doctors/docHasSpec', {
            method: 'POST',
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ docHasSpec: [{ idDoc: user.user.id, title: specialty }] })
        });

    }

    const deleteSpecialty = async (sp) => {
        user['specialties'] = user['specialties'].filter(s => s !== sp);

        await fetch('/api/users/doctors/docHasSpec', {
            method: 'DELETE',
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ docHasSpec: [{ idDoc: user.id, title: sp }] })
        });

        document.getElementById(sp).remove();

    }

</script>
{% endblock %}