{% extends "layouts/base.html" %}
{% from "components/app/modal.html" import modal %}

{% block content %}
<script>
  let me = {{ me| tojson | safe}};
  let myRole = "{{myRole|safe}}";
  let preferredRole = localStorage.getItem('preferredRole');
  if (preferredRole && myRole !== preferredRole) {
    fetch('/api/auth/currentRole', {
      method: 'POST',
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        "role": preferredRole
      })
    }).then((res) => {
      window.location.reload();
    })
  }
</script>
{{modal("ok-modal", "bg-green-100", 'icons/success.svg')}}
{{modal("loading-modal", "bg-white", '' , "Loading...", "Please wait until the operation completes",
'<svg class="animate-spin text-turqoise" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
  <path class="opacity-75" fill="currentColor"
    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
  </path>
</svg> ')}}
<div class="flex-1">
  {% include 'components/app/sidebar.html' %}
  <div class="flex flex-col w-full h-screen">
    {% include 'components/app/titlebar.html' %}
    <div class="lg:ml-64 h-full">
      {% block pageContent %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}