{% extends "layouts/base.html" %}

{% block content %}
<header>{% include 'components/landing/navbar.html' %}</header>

<main>{% block pageContent %}{% endblock %}</main>

<footer>{% include 'components/landing/footer.html' %}</footer>
{% endblock %}