{% macro sufferingsTable() %}
<div class="pt-4 relative" id="filters">
  <div>
    <input type="text" id="search" placeholder="Its name, or something that describes it"
      class="w-full bg-white rounded-lg border focus:ring-2 focus:ring-turqoise border-turqoise text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
    <button id="search-btn" onclick="search()"
      class="absolute right-0 py-2 my-1 mr-2 rounded-full px-2 hover:bg-gray-200">
      <img src="/static/icons/search.svg" width="18" />
    </button>
  </div>
</div>
<div class="z-0 relative h-3/5 pt-2">
  <div class="lg:overflow-x-hidden">
    <div class="py-2" id="table-container"></div>
  </div>
  <div id="pagination-info" class="border w-full flex items-center justify-center py-1 space-x-2"></div>
</div>
<script>
  let total = 0;
  let offset = 0;
  let limit = 3;

  let _search = document.getElementById('search');
  let searchBtn = document.getElementById('search-btn');

  let tableContainer = document.getElementById('table-container');
  let paginationContainer = document.getElementById("pagination-info");

  const loadSufferings = async(offset, conditions = null) =>{
    if (offset < 0 && !id) {
        return;
      }
      let res;
  
      if (conditions) {
        res = await fetch(`/api/sufferings/search/${sufferingType}?offset=${offset}&limit=${limit}`, {
          body: JSON.stringify(conditions),
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          }
        });
      } else {
        res = await fetch(`/api/sufferings/search/${sufferingType}?offset=${offset}&limit=${limit}`);
      }
  
      let data = await res.json();
  
      if (res.status == 200) {
        let _data = data.result;
  
        if (!Array.isArray(_data)) {
          _data = Array(_data)
        }
  
        drawTable(_data);
  
        return Promise.resolve("sufferings loaded");
      } else {
        Promise.reject(res.data);
      }
  }

  const search = async () => {

    let value = _search.value;

    conditions = {
        name: {
            value: `%${value}%`,
            operator: "LIKE"
        },
        description: {
            value: `%${value}%`,
            operator: "LIKE"
        }
    };

    await loadSufferings(0, conditions);
    await setPagination(
        sufferingType,
        0,
        limit,
        paginationContainer,
        "loadSufferings",
        conditions,
        'OR'
    );
  }

  _search.addEventListener('keyup', (e) => {
    if (e.keyCode === 13) {
      searchBtn.click();
    }
  });

</script>
{% endmacro %}