<div class="w-full bg-turqoise h-10 pt-2 pb-2 flex">
  <div class="flex lg:ml-64 w-full">
    <div class="flex flex-row w-full justify-center">
      <div class="absolute self-center">
        <p class="text-center text-white font-bold subpixel-antialiased">
          {{currentPage}}
        </p>
      </div>
      <div class="justify-end float-right mr-6 lg:mr-8 px-2 flex flex-row space-x-2 w-full">
        <button class="z-10 w-6 h-6 rounded-full bg-white p-0.5">
          <img src="{{url_for('static', filename='icons/bell.svg')}}" alt="notification bell" />
        </button>
        <button class="z-10 w-6 h-6 rounded-full bg-white" id="profile">
          <img id="userPhoto" src="{{url_for('images.returnResource', resource=me.get('user', {}).get('photoUrl', '').replace('images/', ''))}}" class="object-cover rounded-full" onclick="window.location.href = '/app/profile'" />
        </button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
</script>